html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.footer.working, .footer .contacts {
    float: left;
    padding-right: 40px;
}

#courses-form .checkbox{
    margin-top: 10px !important;
}

@media (min-width: 768px) {
    #courses-form .col-sm-6 {
        height: 90px;
    }
}

#courses-form .field-coursesform-subject .help-block-error {
    clear: both;
}

.courses-table th {
    word-wrap: break-word;
    white-space: inherit;
}

.courses-table {
    margin-top: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.courses-table .glyphicon,
.timetable-parts-index span.glyphicon {
	padding: 0 5px;
}

.grey-menu {
    background-color: #f5f5f5;
    border-color: #e0e0e0;
    margin-top: -20px;
}

#userlist-wrapper .summary {
    padding: 10px 0;
    clear: both;
}

#userlist-wrapper .user-item {
    border: 2px solid #e0e0e0;
    padding: 5px;
    background: #f5f5f5;
    height: 100%;
}

#userlist-wrapper .revealator-slideleft {
    padding-top: 15px;
    padding-bottom: 0;
 }

#userlist-wrapper .revealator-slideleft .revealator-delay0,
#userlist-wrapper .revealator-slideleft .revealator-delay1,
#userlist-wrapper .revealator-slideleft .revealator-delay2 {
    padding-top: 0;
}

#userlist-wrapper h2,
.user-index  .clicktxt {
    text-align: center;
}

#userlist-wrapper .img-holder {
    text-align: center;
    padding-bottom: 10px;
}

#userlist-wrapper .active {
    color: #2aabd2;
}

#userlist-wrapper .blocked {
    color: #985f0d;
}

.user-index .scroller {
    color: #2aabd2;
    text-align: center;
    padding: 20px;
}

#workdays .form-group {
    float: left;
    padding-right: 10px;
    width: 25%;
}

#workdays {
    clear: both;
    float: left;
}

.info {
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.info h3 {
    color: #ac2925;
}

.center {
    text-align: center;
}

.student-meta-form .center {
    font-size: 16px;
    padding: 15px 10px;
}

#lectures div {
    padding: 0 10px;
}

#lectures td:first-child, .sticky-thead th:first-child {
    width: 70px !important;
    vertical-align: middle;
}

#lectures td, .sticky-thead th {
    width: 150px !important;
    margin: 0;
    padding: 0;
}

#lectures th, .sticky-thead th {
    text-align: center;
}

#lectures .light, #lectures .dark {
    padding: 5px 10px;
}

#lectures .light {
    background-color: rgba(0, 120, 201, 0.1);
}

#lectures .dark {
    background-color: rgba(0, 120, 201, 0.4);
}

#lectures .lect-num {
    padding: 5px 10px;
    text-align: center;
}

.align-center {
    text-align: center;
}

.sticky-wrap {
    overflow-x: auto;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .125s ease-in-out;
    z-index: 50;
    width: auto;
}
.sticky-wrap .sticky-thead {
    box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
    z-index: 100;
    width: 100%;
}
.sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;
}
.sticky-wrap .sticky-intersect th {
    background-color: #666;
    color: #eee;
}
.sticky-wrap td,
.sticky-wrap th {
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.sticky-thead {
    background: #fff;
    border-collapse: separate;
}